
<div class="navbar-collapse collapse navbar-inverse admin-navbar">
    <ul class="nav side-nav">
        <li>
            @if (Request.IsAuthenticated)
            {
                <strong>@Html.Encode(User.Identity.Name)</strong>
                @Html.ActionLink("Sign Out", "Logout", "Account")
            }
        </li>
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("Register User", "Register", "Admin")</li>
        }
        @*<li>@Html.ActionLink("FIXTURES", "Fixtures", "Home")</li>*@
        @if (ViewContext.HttpContext.User.IsInRole("Team Official"))
        {
            <li>@Html.ActionLink("Team Manager", "TeamManager", "Admin")</li>
        }
        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Team Official"))
        {
        <li>@Html.ActionLink("Record Score", "MatchScore", "Admin")</li>
        }
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("Review Score", "ReviewScore", "Admin")</li>
        }
    </ul>
</div>
