
<div class="navbar-collapse collapse navbar-inverse admin-navbar" >
    <ul class="nav side-nav">
        <li>
            @if (Request.IsAuthenticated)
            {
                <strong>@Html.Encode(User.Identity.Name)</strong>
                @Html.ActionLink("Sign Out", "Logout", "Account")
            }
        </li>

        @*<li>@Html.ActionLink("News Feed", "NewsFeed", "Admin")</li>
        <li>@Html.ActionLink("FIXTURES", "Fixtures", "Home")</li>*@
        <li>@Html.ActionLink("Team Manager", "TeamManager", "Admin")</li>
        <li>@Html.ActionLink("Record Score", "MatchScore", "Admin")</li>
        <li>@Html.ActionLink("Review Score", "ReviewScore", "Admin")</li>       
    </ul>
</div>
