<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WMCB</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularjs")
    <script src="~/Scripts/wmcb/index.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <link href="~/Content/simple-sidebar.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript">
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $("#menu-toggle-2").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled-2");
            $('#menu ul').hide();
        });

        function initMenu() {
            $('#menu ul').hide();
            $('#menu ul').children('.current').parent().show();
            //$('#menu ul:first').show();
            $('#menu li a').click(
              function () {
                  var checkElement = $(this).next();
                  if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
                      return false;
                  }
                  if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
                      $('#menu ul:visible').slideUp('normal');
                      checkElement.slideDown('normal');
                      return false;
                  }
              }
              );
        }
        $(document).ready(function () { initMenu(); });
    </script>
</head>

<body ng-app="WMCBApp">
      <div id="main-header" style="z-index:1001;">
        <div class="navbar navbar-fixed-top wmcbclearbackground" style="z-index:1100;">
            <div class="row" style="width:100%; z-index:1100;">
                <div class="navbar-brand logo">
                    <a class="visible-lg" href="/Home/Index">
                        <img id="wmcblogo" src="~/Images/WMCB_LOGO_400x400.jpg" height="140" width="150" />
                    </a>
                    <a class="visible-md visible-xs visible-sm" href="/Home/Index">
                        <img id="wmcblogo" src="~/Images/WMCB_LOGO_400x400.jpg" width="60" height="55" />
                    </a>
                </div>
                <div class="logoname">Washington Metropolitan Cricket Board</div>
                <div class="navbar-header navbar-default ">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="header-bottom wmcbnavbar" style="z-index:1010;">
            <div class="navbar-collapse collapse wmcbnavbar" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-kiri" id="bottom_menu">
                    <li><a href="~/Home"><span class="mainmenu"><i class="fa fa-home"></i> Home</span></a></li>
                    <li><a href="~/Home/Fixtures"><span class="mainmenu"><i class="fa fa-tasks"></i> Fixtures</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="mainmenu">
                                <i class="fa fa-file-text-o"></i>
                                Statistics <span class="caret"></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu menu-top-front" role="menu">
                            <li><a href="~/Home/playoff">Playoff Picture</a></li>
                            <li><a href="~/Home/Points">Points</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Home/MatchResult">Match Results</a></li>
                            <li><a href="~/Home/LeaderBoard">Leader Board</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Home/PlayersOfficials">Players and Officials</a></li>
                        </ul>
                    </li>
                    <li><a href="~/Home/Grounds"><span class="mainmenu"><i class="glyphicon glyphicon-th-large"></i> Grounds </span></a></li>
                    <li><a href="~/Home/Downloads"><span class="mainmenu"><i class="glyphicon glyphicon-cloud-download"></i> Downloads </span></a></li>
                    <li><a href="~/Home/Gallery"><span class="mainmenu"><i class="glyphicon glyphicon-picture"></i> Gallery </span></a></li>
                    <li class="dropdown" style="z-index:9999;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="mainmenu"><i class="glyphicon glyphicon-exclamation-sign"></i> About </span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu menu-top-front" role="menu">
                            <li><a href="~/Home/Contact">Contact Us</a></li>
                            <li class="divider"></li>
                            <li>

                                @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                                {
                                    <a href="~/Account/LogOut">Sign Out</a>
                                }
                                else
                                {
                                    <a href="~/Account"> Sign In</a>
                                }
                        </ul>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="active"><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div id="wrapper">
            @if (Request.IsAuthenticated)
            {
                Html.RenderPartial("_AdminMenu");
            }
            <div id="page-content-wrapper">
                <div class="container-fluid" style="margin-top:65px!important;">
                    <div class="row">
                        <div class="col-lg-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <div class="row rtp-section-container rtp-footer-separator"><div class="large-12 columns rtp-full-width-grid"><hr></div></div>
                <footer id="footer-wrapper" role="contentinfo" class="clearfix rtp-footer-wrapper rtp-section-wrapper">
                    <div id="footer" class="rtp-footer rtp-section-container row">
                        <div class="rtp-footer-section large-12 columns rtp-full-width-grid">
                            <p>&copy; @DateTime.Now.Year - Washington Metropolitan Cricket Board</p>
                        </div>
                    </div>

                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
